* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
 
  body {
    background: #05070c;
    color: #eaeaea;
    font-family: 'Inter', sans-serif;
  }
  

  .topbar {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
  }
  
  .logo {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
  }
  

  .home-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.25);
    transition: 0.25s ease;
  }
  
  .home-btn:hover {
    background: linear-gradient(90deg, #ff0055, #06146a, #ff4400);
    border-color: transparent;
  }
  
 
  .container {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
  }
  
  
  .main-title span {
    display: inline-block;
    font-size: 28px;
    font-weight: 800;
    padding: 8px 16px;
    background: linear-gradient(90deg, #3b3bff, #ff2a7b);
  }
  
  .section-title {
    margin: 45px 0 20px;
    font-size: 22px;
    font-weight: 700;
  }
  
 
  .card {
    padding: 28px;
    margin-bottom: 40px;
    border: 2px solid transparent;
    border-image: linear-gradient(
      90deg,
      #ff0055,
      #06146a,
      #ff4400
    ) 1;
  }
  

  .person {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
  }
  
  .avatar {
    width: 56px;
    height: 56px;
    background: #dcdcdc;
    border-radius: 8px;
    flex-shrink: 0;
  }
  
  .person h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  
  .person p {
    font-size: 14px;
    line-height: 1.5;
    color: #ddd;
  
}
#shoshana{

font-size: 14px;
}
  